# Dart/Flutter specific
*.class
*.log
*.pyc
*.swp
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Project specific
/lib/utils/client/
/lib/data/
/lib/firebase_options.dart
firebase.json
.qodo

# IDE related
*.iml
*.ipr
*.iws
.idea/

# System files
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
..env

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
